<h1>Editing blog</h1>

<%= render 'form' %>
<%= render :partial => 'form' %>
<%= render partial: 'form' %>
<%= render 'shared/form' %>
<%= render 'form02' %>
<%= render :partial => 'form02' %>
<%= render(:partial => 'form02') %>
<%= render('form02') %>

<%= link_to 'Show', @blog %> |
<%= link_to 'Back', blogs_path %>
